/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: black;
  color: white;
  line-height: 20px;
}

h1 {
  font-style: italic;
}

header {
  text-align: center;
}
hr {
  border-color: white;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  length: 10px;
}

.content1 {
  display: grid;
  grid-template-columns: repeat(12, 75px);
  grid-template-rows: repeat(7, 75px);
  grid-gap: 10px;
}

.content1 h1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
}

.content1 h2 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 6;
}

#text1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 6;
}
#text2 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
}

.content1 img {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 60px;
}

.content2 {
  display: grid;
  grid-template-columns: repeat(8, 150px);
  grid-template-rows: repeat(6, 150px);
  grid-gap: 10px;
}

.content2 h2 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}

.content2 p {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
}

.content2 nav {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
  
}

.content2 ol{
  display: block;
  list-style-type: disc;
  line-height: 30px;
}

#img1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

#img2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-left: 30px;
}

.content3 {
  display: grid;
  grid-template-columns: repeat(12, 75px);
  grid-template-rows: repeat(14, 75px);
  grid-gap: 10px;
}
.content3 h2 {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 6;
}
#img3 {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 6;
}

.content3 p {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 8;
  grid-row-end: 10;
}
#img4 {
   grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 10;
  grid-row-end: 14;
}

.content4 {
  display: grid;
  grid-template-columns: repeat(17, 75px);
  grid-template-rows: repeat(30, 75px);
  grid-gap: 10px;
}

.content4 h2 {
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 6;
}
#img5 {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 6;
}
#text4 {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 7;
  grid-row-end: 18;
}

#img6 {
  grid-column-start: 7;
  grid-column-end: 14;
  grid-row-start: 8;
  grid-row-end: 14;
}

#text4 {
  grid-column-start: 10;
  grid-column-end: 15;
  grid-row-start: 3;
  grid-row-end: 14;
}

#img7 {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 14;
  grid-row-end: 18;
}

#text5 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 10;
  grid-row-end: 14;
}
#img8 {
  grid-column-start: 7;
  grid-column-end: 14;
  grid-row-start: 20;
  grid-row-end: 24;
}

#text6 {
  grid-column-start: 10;
  grid-column-end: 15;
  grid-row-start: 16;
  grid-row-end: 18;
}
#img9 {
   grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 26;
  grid-row-end: 30;
}

#text7 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 21;
  grid-row-end: 24;
}